.players {
  font-size: 1rem;
}

.single-result {
  font-size: 0.5rem;
}

.playedA {
  text-transform: capitalize;
  color: skyblue;
}

.playedB {
  text-transform: capitalize;
  color: coral;
}

.td-smaller {
  font-size: 0.5rem;
}

.live-games {
  margin: 1rem;
}

.smaller {
  font-size: 0.5rem;
}
